@import './base/variables';
@import './base/Base';
@import './layout/Hero_header';
@import './layout/Products';
@import './layout/About';
@import './layout/Gallery';
@import './layout/Contacts';
@import './layout/Footer';
@import './modals/modal_buyNow';