:root {
    --yellow-color: #F8D24E;
    --yellow-color2: #EFD478;
    --green-color: #84A178;
    --green-color2: #AEC6A5;
    --green-color3: #96AF8C;
    --brown-color: #D6936D;
    --grey-color: #ABABAB;
    --grey-color2: #7A7A7A;
}